<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <link rel="stylesheet" th:href="@{/style/admin-style.css}">
</head>
<body>

    <main class="main-content" layout:fragment="content">
        <div class="container">
            <div class="admin-menu">
                <div class="admin-heading"><h2>Panel administracyjny</h2></div>

                <a th:href="@{|/admin/${userId}/dodaj_sesje|}">
                    <div class="admin-menu-button">Dodaj nowa sesje</div>
                </a>
                <a th:href="@{|/admin/${userId}/edytuj_sesje|}">
                    <div class="admin-menu-button">Edytuj istniejącą sesje</div>
                </a>
                <a th:href="@{|admin/${userId}/zarzadzaj|}">
                    <div class="admin-menu-button">Zarzadzaj strona główną</div>
                </a>
            </div>
        </div>
    </main>

</body>
</html>
