<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout_admin_pages}" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" th:href="@{/style/admin-edit-home-page-style.css}">
    <script defer th:src="@{/scripts/admin-script.js}"></script>
</head>
<body>
<main class="main-content" layout:fragment="admin_content">
    <div class="content">
        <div class="editing-options">
            <div class="admin-heading"><h2>Edycja strony głównej</h2></div>

            <div class="editable-item">
                <div class="item-header">Pierwsze tło</div>
                <div class="edit-menu">
                    <form th:action="@{|/admin/${userId}/zarzadzaj_strona_glowna/${webpage.id}/pierwsze_tlo|}"
                          th:method="post"
                          enctype="multipart/form-data">
                        <div class="buttons">
                            <input type="file" name="file">
                            <button type="submit">Dodaj inne zdjęcie</button>
                        </div>
                        <div class="img-container">
                            <img th:src="@{|/img/${webpage.firstBackground}|}" alt="Podgląd">
                        </div>
                    </form>
                </div>
            </div>

            <div class="editable-item">
                <div class="item-header">Przedstawienie się – pierwsza linia</div>
                <div class="edit-menu">
                    <form th:action="@{|/admin/${userId}/zarzadzaj_strona_glowna/${webpage.id}/przedstawienie_pierwsza_linia|}" th:method="post">
                        <div class="buttons">
                            <button type="submit">Zapisz</button>
                        </div>
                        <div class="text-container">
                            <input type="text" name="introductionFirstLayer"
                                   th:value="${webpage.introductionFirstLayer}">
                        </div>
                    </form>
                </div>
            </div>

            <div class="editable-item">
                <div class="item-header">Przedstawienie się – druga linia</div>
                <div class="edit-menu">
                    <form th:action="@{|/admin/${userId}/zarzadzaj_strona_glowna/${webpage.id}/przedstawienie_druga_linia|}" th:method="post">
                        <div class="buttons">
                            <button type="submit">Zapisz</button>
                        </div>
                        <div class="text-container">
                            <input type="text" name="introductionSecondLayer"
                                th:value="${webpage.introductionSecondLayer}">
                        </div>
                    </form>
                </div>
            </div>

            <div class="editable-item">
                <div class="item-header">Zdjęcie fotografa</div>
                <div class="edit-menu">
                    <div class="buttons">
                        <button>Dodaj inne zdjęcie</button>
                    </div>
                    <div class="img-container">
                        <img th:src="@{|/img/${webpage.photographerPhoto}|}" alt="Podgląd">
                    </div>
                </div>
            </div>

            <div class="editable-item">
                <div class="item-header">Opis – pierwsza warstwa</div>
                <div class="edit-menu">
                    <form th:action="@{|/admin/${userId}/zarzadzaj_strona_glowna/${webpage.id}/opis_pierwsza_linia|}" th:method="post">
                        <div class="buttons">
                            <button type="submit">Zapisz</button>
                        </div>
                        <div class="text-container">
                            <input type="text" name="descriptionFirstLayer"
                                   th:value="${webpage.descriptionFirstLayer}">
                        </div>
                    </form>
                </div>
            </div>

            <div class="editable-item">
                <div class="item-header">Opis – druga warstwa</div>
                <div class="edit-menu">
                    <form th:action="@{|/admin/${userId}/zarzadzaj_strona_glowna/${webpage.id}/opis_druga_linia|}" th:method="post">
                        <div class="buttons">
                            <button type="submit">Zapisz</button>
                        </div>
                        <div class="text-container">
                            <input type="text" name="descriptionSecondLayer"
                                   th:value="${webpage.descriptionSecondLayer}">
                        </div>
                    </form>
                </div>
            </div>

            <div class="editable-item">
                <div class="item-header">Opis – trzecia warstwa</div>
                <div class="edit-menu">
                    <form th:action="@{|/admin/${userId}/zarzadzaj_strona_glowna/${webpage.id}/opis_trzecia_linia|}" th:method="post">
                        <div class="buttons">
                            <button type="submit">Zapisz</button>
                        </div>
                        <div class="text-container">
                            <input type="text" name="descriptionThirdLayer"
                                   th:value="${webpage.descriptionThirdLayer}">
                        </div>
                    </form>
                </div>
            </div>

            <div class="editable-item">
                <div class="item-header">Ozdobne tło przewijane</div>
                <div class="edit-menu">
                    <form th:action="@{|/admin/${userId}/zarzadzaj_strona_glowna/${webpage.id}/tlo_przewijane|}"
                          th:method="post"
                          enctype="multipart/form-data">
                        <div class="buttons">
                            <input type="file" name="file">
                            <button type="submit">Dodaj inne zdjęcie</button>
                        </div>
                        <div class="img-container">
                            <img th:src="@{|/img/${webpage.rollingPhoto}|}" alt="Podgląd">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
