.photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.introducing-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.introducing-photo img {
    max-width: 100%;
    width: 1000px; /* większy rozmiar */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.session-title {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.photos-gallery {
    display: flex;
    flex-direction: column;
    align-item: center;
    gap: 15px;
}

.photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo img {
    width: 700px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
