<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FotoClub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/style/style-first-page.css}">
</head>
<body>

<div class="navbar">
    <div class="nav-item"><a href="#">Strona główna</a></div>
    <div class="nav-item"><a href="#">O nas</a></div>
    <div class="nav-item"><a href="#">Kontakt</a></div>
</div>
<div class="main">
    <h1>Wybierz użytkownika</h1>
    <div class="sorting">
        <form th:action="@{/first}" method="post">
            <select id="sort-photo-type" name="photoType">
                <option th:each="photoType: ${photoTypes}"
                        th:text="${photoType}"
                        th:value="${photoType}">
                </option>
            </select>
            <button type="submit">Sortuj</button>
        </form>
    </div>
    <div class="user-list">
        <a href="#" th:href="${photograph.id}"
                    th:each="photograph:${photographs}"
                    class="user-item">
            <div class="photograph-name" th:text="${photograph.firstName} +' '+${photograph.lastName}">TEST</div>
            <div class="photograph-type" th:text="${photograph.photographingType}">typ</div>
            <div class="image-container">
                <img th:src="@{|/img/${photograph.miniatureFilename}|}" alt="Miniatura">
            </div>
        </a>
    </div>
</div>


</body>
</html>
