<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FotoClub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/style/style-first-page.css}">
</head>
<body>

<div class="navbar">
    <div class="nav-item"><a href="#">Strona główna</a></div>
    <div class="nav-item"><a href="#">O nas</a></div>
    <div class="nav-item"><a href="#">Kontakt</a></div>
</div>

<div class="main">
    <h1>Wybierz użytkownika</h1>
    <div class="user-list">
        <a href="#" th:href="${photograph.id}" th:each="photograph:${photographs}" class="user-item">
            <div th:text="${photograph.email}">TEST</div>
        </a>

    </div>
</div>

</body>
</html>
