<!--https://fotoreportazslubny.com/-->
<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FotoClub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
<!--
    <script defer th:script="@{/scripts/scripts.js}"></script>
-->
    <script defer th:src="@{/scripts/scripts.js}"></script>

    <link rel="stylesheet" th:href="@{/style/style-menu.css}">
    <link rel="stylesheet" th:href="@{/style/style-sessions.css}">
    <link rel="stylesheet" th:href="@{/style/style-about-me.css}">
</head>
<body>
<div class="container">
    <div class="first-background">

    <nav class="menu">

        <div class="menu-section left-section">
            <div class="menu-item"><a href="#"><i class="fa-brands fa-facebook"></i></a></div>
            <div class="menu-item"><a href="#"><i class="fa-brands fa-instagram"></i></a></div>
        </div>

        <div class="menu-logo-container">
            <a href="#">Robert Kusz logo</a>
        </div>

        <div  class="right-section">

            <div class="menu-button" id="menu-button-right">
                <a href="#">
                    <i id="toggle-icon" class="fas fa-bars"></i>
                </a>
            </div>
        </div>

    </nav>
    <nav class="sticky-nav" id="sticky-nav">
        <div class="sticky-nav-content">
            <a href="http://localhost:8080/">Strona główna</a>
            <a th:href="@{/sesje}">Sesje</a>
            <a href="@{/o_mnie}">O mnie</a>
            <a href="@{/kontakt}">Kontakt</a>
        </div>
    </nav>

    </div>
    <div class="hidden-menu-container">
        <ul class="hidden-menu">
            <li><a href="#">Strona główna</a></li>
            <li><a href="#">O mnie</a></li>
            <li><a href="#">Sesje</a></li>
            <li><a href="#">Kontakt</a></li>
            <li><a href="#" id="close-menu">X</a></li>
        </ul>
    </div>
        <main class="main-content">
            <div class="about-me">
                <div class="about-me-titles">
                    <div class="about-me-profession">FOTOGRAFIA KRAJOBRAZOWA</div>
                    <div class="about-me-description">FOTOGRAF KRAJOBRAZOWY ZNAJDUJE I KOMPONUJE KADRY NATURALNE</div>
                </div>
                <div class="about-me-introduction">
                    <div class="about-me-img-container">
                        <img class="about-me-img" th:src="@{/img/photograph.jpg}">
                    </div>

                    <div class="about-me-greeting-container">
                        <div class="about-me-greeting-big">
                            Cześć
                        </div>
                        <div class="about-me-greeting-small">
                            Jestem Robert, miło mi, że tu jesteś.
                        </div>
                        <div class="about-me-greeting-description">
                            Fotografia krajobrazowa to sztuka uchwycenia piękna i
                            charakteru danego miejsca, niezależnie od tego, czy jest
                            to naturalny teren, czy obszar przekształcony przez
                            człowieka. Każdy krajobraz opowiada swoją unikalną historię,
                            a my, fotografowie, mamy przywilej i obowiązek ją uwieczniać.
                        </div>
                        <button class="about-me-introduction-button" role="button">Wiecej o mnie</button>                    </div>
                </div>
            </div>
            <div class="spacer"></div>





            <div class="sessions-container">

                <div class="sessions-by-type">
                    <div class="session-name">
                        Weeding
                    </div>
                    <div class="sessions-group">
                        <div class="single-session" th:each="weedingSessions: ${weedingSessions}">
                            <div class="session-title" th:text="${weedingSessions.title}">
                                SESSION TITLE
                            </div>
                            <div class="session-image">
                                <img th:src="@{'/img/' + ${weedingSessions.photo.filename}}" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sessions-by-type">
                    <div class="session-name">
                        Landscape
                    </div>
                    <div class="sessions-group">
                        <div class="single-session" th:each="landscapeSessions: ${landscapeSessions}">
                            <div class="session-title" th:text="${landscapeSessions.title}">
                                SESSION TITLE
                            </div>
                            <div class="session-image">
                                <img th:src="@{'/img/' + ${landscapeSessions.photo.filename}}"/>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </main>
        <footer class="footer">
            <p>FotoClub 2025 <i class="fas fa-copyright"></i></p>
        </footer>





</div>

</body>
</html>
