<!--https://fotoreportazslubny.com/-->
<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:style="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>FotoClub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">

    <script defer th:src="@{/scripts/scripts.js}"></script>

    <link rel="stylesheet" th:href="@{/style/style-menu.css}">
    <link rel="stylesheet" th:href="@{/style/style-sessions.css}">
    <link rel="stylesheet" th:href="@{/style/style-about-me.css}">
    <link rel="stylesheet" th:href="@{/style/sessions.css}">

</head>
<body>
<div class="container">
    <div class="first-background" style="height: auto;">
        <img th:src="@{|/img/${webpage.firstBackground}|}" alt="background" class="background-img">

        <nav class="menu">
            <div class="menu-section left-section">
                <div class="menu-item"><a th:href="${photograph.facebook}"><i class="fa-brands fa-facebook"></i></a></div>
                <div class="menu-item"><a th:href="${photograph.instagram}" href="#"><i class="fa-brands fa-instagram"></i></a></div>
            </div>
            <div class="menu-logo-container">
                <a th:href="@{|/${photograph.id}|}">
                    <img class="homepage-logo" th:src="@{|/img/${photograph.logoFilename}|}">
                </a>
            </div>
            <div  class="right-section">
                <div class="menu-button" id="menu-button-right">
                    <a href="#">
                        <i id="toggle-icon" class="fas fa-bars"></i>
                    </a>
                </div>
            </div>

            <div class="hidden-menu-container">
                <ul class="hidden-menu">
                    <li><a th:href="@{|${id}|}">Strona główna</a></li>
                    <li><a th:href="@{|${id}/o_mnie|}">O mnie</a></li>
                    <li><a th:href="@{|${id}/sesje|}">Portfolio</a></li>
                    <li><a th:href="@{|${id}/kontakt|}">Kontakt</a></li>
                    <li><a href="#" id="close-menu">X</a></li>

                </ul>
            </div>

        </nav>
        <nav class="sticky-nav" id="sticky-nav">
            <div class="sticky-nav-content">
                <a th:href="@{|${id}|}">Strona główna</a>
                <a th:href="@{|${id}/sesje|}">Portfolio</a>
                <a th:href="@{|${id}/o_mnie|}">O mnie</a>
                <a th:href="@{|${id}/kontakt|}">Kontakt</a>
            </div>
        </nav>
    </div>
    <div class="hidden-menu-container">
        <ul class="hidden-menu">
            <li><a href="#">Strona główna</a></li>
            <li><a href="#">O mnie</a></li>
            <li><a href="#">Sesje</a></li>
            <li><a href="#">Kontakt</a></li>
            <li><a href="#" id="close-menu">X</a></li>
        </ul>
    </div>
    <main class="main-content" layout:fragment="content">

    </main>
    <footer class="footer">
        <p>FotoClub 2025 <i class="fas fa-copyright"></i></p>
    </footer>

</div>
</body>
</html>
