<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <link rel="stylesheet" th:href="@{/style/sessions.css}">
</head>
<body>
    <main class="main-content" layout:fragment="content">

        <section class="sessions-header">
            <h1>Sesje fotograficzne</h1>
            <p>Zapraszam do zapoznania się z moim portfolio. Poniżej znajdziesz wybrane sesje zdjęciowe, które oddają emocje, światło i chwile, jakie uwieczniam.</p>
        </section>

        <div class="sessions-container">
            <section class="sessions-grid">
                <div class="session-card" th:each="sess: ${allSessions}">
                    <a href="#" th:href="@{|/sesja/${sess.id}|}">
                        <img th:src="@{'/img/' + ${sess.mainPhoto.filename}}" th:alt="${sess.title}">
                    </a>
                </div>
            </section>
        </div>

    </main>

</body>
</html>
