<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <link rel="stylesheet" th:href="@{/style/style-single-session.css}">
</head>
<body>

    <main class="main-content" layout:fragment="content">
        <div class="photo-container">
            <div class="introducing-photo">
                <img th:src="@{'/img/' + ${firstPhoto.filename}}">
            </div>
            <div class="session-title">
                <p th:text="${sessionTitle}"></p>
            </div>
            <div class="photos-gallery">
                <div class="photo" th:each="photo, iterStat: ${photos}">
                    <img th:src="@{'/img/' + ${photo.filename}}">
                </div>
            </div>
        </div>
    </main>


</body>
</html>
